<div class="navbar bg-base-300">
  <div class="flex-none">
    <a class="btn btn-ghost text-xl">Ale2Da</a>
  </div>
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <div class="flex-none">
          <button class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path> </svg>
          </button>
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <%= render "layouts/menu_items" %>
      </ul>
    </div>
    <div class="navbar-start hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <%= render "layouts/menu_items" %>
      </ul>
    </div>
  </div>
  <div class="flex-none gap-2 navbar-end m-a">
    <div class="form-control">
      <input type="text" autocomplete=off placeholder="Search" class="input input-bordered w-24 md:w-auto">
    </div>
    <div class="dropdown dropdown-end ">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar" id="user_avatar">
        <div class="w-10 rounded-full">
          <%= image_tag "avatar-default.svg" %>
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <%= link_to "#", class: "justify-between" do %>
            Profile
            <span class="badge">New</span>
          <% end %>
        </li>
        <li><%= link_to "Settings", "#" %></li>
        <li><%= link_to "Logout", "#" %></li>
      </ul>
    </div>
  </div>
</div>
